<!DOCTYPE html>

<style>
body {
    margin: 0px;
}

.navbar {
    background-color: #1A5ECB;
    width: 100%;
    height: 36px;
}

.navbar a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    margin-top: 10px;
    padding: 14px 16px;
}

.navbar-home {
    
}
</style>

<html lang="en">

    <body>
        <nav class="navbar">
            <div class="navbar-home">
                <a class="active" href="home">Home</a>
            </div>
            <div class="navbar-login">
                <a class="login" href="login">Log in</a>
            </div>
        </nav>
    </body>
</html>